/*!
Theme Name: Pokedex
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: blank
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
img {
    vertical-align: bottom;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
label:not(:first-child){
  margin-top: 2rem;
}
input{
  border-radius: 5px;
  border: none;
  padding: .3rem;
}
input[type=submit]{
  padding: .5rem;
  margin: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
textarea{
  resize: none;
  height: 5rem;
}
.error{
  color: red;
}
html{
    scroll-behavior: smooth;
}
body{
    font: 400 16px/1.4 Verdana, Arial, sans-serif;
    background: lightskyblue;
}
h2{
    color : blue;
    background: red;
}
#colophon{
    background: lime;
    height: 10rem;
}